
@font-face {
    font-family: 'doodlebug';
    src: url('../fonts/doodlebug.eot');
    src: url('../fonts/doodlebug.eot?#iefix') format('embedded-opentype'), url('../fonts/doodlebug.woff') format('woff'), url('../fonts/doodlebug.ttf') format('truetype'), url('../fonts/doodlebug.svg#LatoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
