// Picture Styles
figure.effect-picture {
	background: #9e5406;
	position: relative;

	.picture {
		width: 100%;
	}

	figcaption {
		position: absolute;
		height:100%;
		width:100%;
		top: 0;
		left: 0;
		overflow: hidden;
	}
}

figure.effect-picture img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-picture:hover img {
	opacity: 0.4;
}

figure.effect-picture figcaption::after,
figure.effect-picture figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-picture figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-picture figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-picture h2 {
	max-height: 92px;
  overflow: hidden;
  word-break: break-all;
	padding-top: 12%;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  font-size: 1.4em;
  text-align: center;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-picture p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-picture:hover figcaption::after,
figure.effect-picture:hover figcaption::before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-picture:hover h2,
figure.effect-picture:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
